html {
  font-family: 'Gudea', sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
}
body {
  position: relative;
  padding: 0px 0px;
  margin: 0px;
  background: #22262a;
  color: #eee9ea;
}

/*body { font-family:"Apercu Regular", "Calibri", sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal; }*/
body { font-family:"Apercu Mono Regular", 'Andale Mono', monospace; font-size: 14px; line-height: 1.5em; }

.loadmoreposts {
  font-size: 20px;
  margin-left: 0;
  margin-top: 30px;
  border-top: 1px solid rgba(255,255,255,.25);
  padding: 40px 0px;
  width: 500px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,.25);
  display: block;
}

iframe.map {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

body .header {
/*  border-bottom: 1px solid #000;*/
  background: rgba(235,229,224,255);
  height: 100px;
  overflow: hidden;
  text-align: right;
}
body .header a {
  text-decoration: none;
  padding: 32px 20px;
  display: inline-block;
}
body .header a.current {
  color: #fd695f;
}
body .header a:last-of-type {
  padding-right: 0px;
}
body .header a:first-of-type {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
}
body .header a:hover {
  opacity: .5;
}
body .header img {
  width: 320px;
}
body .content {
  max-width: 90%;
  margin: 0px auto;
  position: relative;
}
body .project a {
  color: #fd695f;
  text-decoration:none;
}
body .footer {
  padding: 20px 0px 20px 0px;
  color: #22262a;
  background: rgba(235,229,224,255);
  position: relative;
}
body .footer a {
  text-decoration:none;
}
body .footer .left {
  width: 50%;
}
body .footer .right {
  float: right;
  text-align: right;
  width: 40%;
  position: absolute;
  right: 0px;
  top: 0px;
}
body .footer .right img {
  width: 30px;
  margin: 10px 0px 0px 10px;
}
body .footer .right a:hover img {
  opacity: .9;
}

body h1 {
  font-size: 20px;
  line-height: 1.45em;
  margin: 0px 0px 10px 0px;
  
}
body h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
a {
  color: #000; 
}
p:first-of-type {
  margin-top: 0px;
}
.chrome #navigation {
  margin-bottom: -70px;
}
#navigation {
  background: #22262a;
  margin: 0px 0px;
  padding: 10px;
}
#navigation a:hover img {
  opacity: .25;
}
#navigation .piece:first-of-type a:hover img {
  content:url("http://patrickmoberg.s3.amazonaws.com/montage_reverse.jpg");
  opacity: 1;
}
#navigation .piece:first-of-type .text { 
  display: none; 
}
.piece {
  width: 250px;
  display: inline-block; 
  position: relative;
}
.piece .text {
  position: absolute;
  display: block;
  width: 90%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  color: #fff;
  display: none;
}
.piece:hover .text {
  display: block;
}
.piece img {
  width: 100%; 
}
.clear {
  clear: both; 
}


.specimen .details {
  display:none;
}
.project .specimen .elements {
  width: 100%;
}
.specimen {
  padding-top: 130px;
  padding-left: 10%;
  padding-right: 45%;
  padding-bottom: 200px;
  position: relative;
}
.specimen .no-spam {
  margin-top: 40px;
  font-size: 12px;
}
.specimen h2 {
  font-size: 35px;
}
.specimen h3 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.45em;
}
.specimen form input[type="email"] {
  border: 0px;
  padding: 12px;
  font-size: 15px;
  width: 220px;
}
.specimen form input[type="email"]::-webkit-input-placeholder { 
  font-style:italic; letter-spacing: 1px; color:#000; 
}
.specimen form input[type="submit"] {
  background: #16bb74;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  border: 0px;
  padding: 12px;
  margin-left: -8px;
  cursor: pointer;
}
.specimen form input[type="button"]:hover {
  background: #0e9a5e;
}
.project .specimen .element img {
  position: absolute;
  right: 10%;
  top: 0px;
  width: 300px;
}


#navigation .content { /* Masonry container */
  margin: 30px auto 0px auto;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
.piece { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 .5em 0;
  width: 100%;
}

#blogfeed {
  width: 500px;
}
#blogfeed .post {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,.25);
}
#blogfeed .post:last-of-type {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.project {
  padding: 50px 0px;
}
.project hr {
  border: 0px solid #000;
  margin: 30px 0px;
  border-bottom: 1px solid rgba(255,255,255,.25);
}
.project .details {
  width: 23%;
  float: left;
  font-size: 12px;
  line-height: 1.6em;
}
.project .details img {
  width: 100%;
}
.project .details h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4em;
}
.project .details h4 {
  margin: 40px 0px;
}
.project .elements {
  width: 74%;
  float: right;
}
.project .elements .element {
}
.project iframe {
  width: 100%;
  height: 420px;
}
.project .details iframe {
  height: auto;
}
.project .element {
  width: 100%;
}
.project .element {
/*  width: 24%;*/
  display: inline-block;
}
.project .element img {
  width: 100%;
  cursor: pointer;
}

.project .until .element {
  width: 40%;
  margin: 0% 5% 5% 0%;
  display: inline-block;
}

.project .electric-objects {
  width: 50%;
}
.project .electric-objects .item {
  position: relative;
  margin: 0px 0px 30px 50px;
}
.project .electric-objects img:last-of-type {
  position: absolute;
  top: -2px;
  left: -15px;
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 1045px) {
  .header,
  .footer,
  .project.content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
  
@media only screen and (max-width: 720px) {
  body .header a:first-of-type {
    position: relative;
  }
  body .header {
    height: auto;
    text-align: center;
  }
  body .header a {
    padding: 30px 10px 30px 10px;
  }
  body .footer .left {
    width: 80%;
  }
  body .footer .right {
    display: none;
  }
  #navigation .piece .text { 
    display: none; 
  }
  .project .details {
    width: 100%;
  }
  .project .elements {
    margin-top: 20px;
    width: 100%;
  }
  #blogfeed {
    width: 100%;
  }
  .chrome #navigation {
    margin-bottom: 0px;
  }
  .footer {
    text-align: center;
  }
  
  
  .project .electric-objects {
    width: 100%;
  }
  .project .electric-objects .item {
    position: relative;
    margin: 0px 0px 30px 0px;
  }
  .project .electric-objects img:last-of-type {
    position: absolute;
    top: -2px;
    left: -15px;
    width: auto;
    height: 100%;
  }
  
  .specimen {
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0px;
    position: relative;
  }
  .specimen .no-spam {
    margin-top: 40px;
    font-size: 12px;
  }
  .project .specimen .element img {
    display: none;
  }
  
}